---
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import BookScore from "../../components/BookScore.astro";
import BuyButton from "../../components/BuyButton.astro";

export async function getStaticPaths() {
    const books = await getCollection("books");
    
    return books.map((book) => (
        { params: { id: book.slug }, props: { book } }
    ));
};

const { book } = Astro.props;
const { slug, data } = book;
const { title, author, img, readtime, description, buy } = data;
const { Content } = await render(book);

export const prerender =  true;
---

<Layout title=`${title} - Dev Books`>
    <div class="flex gap-12">
        <aside class="flex flex-col items-center gap-4">
            <img transition:name={`img-${slug}`} class="rounded w-72 h-auto" src=`/${img}` alt={title}>
            <BookScore server:defer id={slug} >
                <div slot="fallback" class="px-3 py-1 text-xs font-medium leading-none text-center text-blue-800 bg-blue-200 rounded-full animate-pulse dark:bg-blue-900 dark:text-blue-200">Score loading...</div>
            </BookScore>
            <BuyButton server:defer buy={buy}/>
        </aside>
        <main>
            <h1 transition:name={`title-${slug}`} class="text-4xl font-bold mb-4">{title}</h1>
            <div class="prose prose-invert">
                <Content />
            </div>
            <div class="grid grid-cols-1 gap-4 place-content-center place-items-center h-10">
                <div>
                    <a href="/" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">◀️ Back.</a>
                </div>
            </div>
        </main>
    </div>
</Layout>
